
/* 中間icon導覽列 */
/* 我的訂單 */
.my_account>a {
    position: relative;
    text-decoration: none;
  }
  
  .my_account>a::after {
    content: "";
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0px;
    border-bottom: 1px solid gray;
    transition: .3s;
  }
  
  
  .my_account>a>svg {
    color: black;
  }
  
  .my_account>a:hover {
    opacity: 80%;
  }
  
  /* 我的訂單 */
  .my_order>a {
    position: relative;
    text-decoration: none;
  }
  
  .my_order>a::after {
    content: "";
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0px;
    border-bottom: 1px solid gray;
    transition: .3s;
  }
  
  .my_order a:hover::after {
    right: 31%;
    left: 31%;
  }
  
  .my_order>a>svg {
    color: black;
  }
  
  .my_order>a:hover {
    opacity: 80%;
  }
  
  /* 折價優惠 */
  .my_message>a {
    position: relative;
    text-decoration: none;
  }
  
  .my_message>a::after {
    content: "";
    position: absolute;
    right: 30%;
    left: 30%;
    bottom: 0px;
    border-bottom: 1px solid gray;
    transition: .3s;
  }
  
  .my_message a:hover::after {
    right: 31%;
    left: 31%;
  }
  
  .my_message>a>svg {
    color: black;
  }
  
  .my_message>a:hover {
    opacity: 80%;
  }
  
  /* 收藏清單 */
  .favorite_list>a {
    position: relative;
    text-decoration: none;
  }
  
  .favorite_list>a::after {
    content: "";
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0px;
    border-bottom: 1px solid gray;
    transition: .3s;
  }
  
  .favorite_list a:hover::after {
    right: 31%;
    left: 31%;
  }
  
  .favorite_list>a>svg {
    color: black;
  }
  
  .favorite_list>a:hover {
    opacity: 80%;
  }
  
  /* 登出按鈕 */
  .log_out>div>button {
    background-color: white;
    border: 1px solid white;
    border-bottom: 1px solid black;
    /* position: relative;
      top:30px;
      right:0px */
    float: right;
  }
  